*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url('../assets/pexels-simon-berger-1323550.jpg') no-repeat;
    height: 100%;
    background-size: cover;
}

.formregister{
    width: 400px;
    background: #141726;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    border-radius: 12px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 12px 30px #2C364B;
}

.formregister h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.controls{
    width: 100%;
    background: #2E344E;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid #036DD2;
    font-family: 'calibri';
    color: white;
}

::placeholder{
    color: #9D9D9D;
}

.formregister p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.formregister a{
    color: white;
    text-decoration: none;
}

.formregister a:hover {
    color: #1166B8;
}

.formregister .botons:hover{
    background-color: #036DD2;
}
.formregister .botons {
    width: 100%;
    background-color: #1545A6;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
/* Estilos para el Menú */
header{
    width: 100%;
    height: 80px;
    margin-top: 40px;
    /* position: fixed; */
    z-index: 1;
}

.container__menu{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


.menu{
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-left: 36px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    text-transform: uppercase;
}

#selected{
    background: #F6615D;
    padding: 10px 40px;
    border-radius: 50px;
}
.menu #btn_menu{
    display: none;
}


/*COVER*/


.container__cover{
    width: 100%;
    height: 500px;
    background-position: cover;
    background-repeat: no-repeat;
}

.cover{
    max-width: 500px;
    padding: 20px;
    display: flex;
    margin:50px;
    margin-top: -2px;
    justify-content: space-between;
}

.container__cover .text{
    max-width: 400px;
}

.container__cover .text h1{
    font-size: 36px;
    font-weight: 600;
}

.container__cover .text p{
    font-size: 18px;
    margin-top: 40px;
}

.container__cover .text input{
    padding: 18px 80px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 40px;
    background: linear-gradient(to right, #fab2b2, #f54d4d);
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px #f54d4d;
    transition: all 300ms;
}

.container__cover .text input:hover{
    box-shadow: 1px 1px 30px -6px #f54d4d;
}

/*Haciendo la página Responsive*/

@media screen and (max-width:1200px){

    header{
        padding: 40px;
    }

}

@media screen and (max-width: 790px){

    .menu nav{
        position: fixed;
        top: 0;
        right: -250px;
        background: white;
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
    }

    .menu ul{
        flex-direction: column;
        margin-top: 40px;
    }

    .menu ul li{
        margin-top: 30px;
        margin-left: 0;
    }

    .menu ul li a{
        color: #bebebe;
    }

    #selected{
        background: none;
        padding: 0px;
        border-radius: none;
        color: #F6615D;
    }

    .menu nav img{
        display: block;
        width: 60px;
    }

    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        display: none;
    }

    .menu #btn_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.4);
        font-size: 24px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 300ms;
    }

    .menu #btn_menu:hover{
        background: rgba(255, 255, 255, 0.7);
    }
}

.nosotros{
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 600px;/* 70% en responsive, oroginal = 500px*/
    height: 350px;
    font-size: 18px;
}
.imgp1{
    height: 320px;
}
.fotoo{
    text-align: center;
    margin: 20px;
}


/*Footer*/
